.ProductInfo{
    width: 100%;
    min-width: 1200px;
    height: auto;
    min-height: 400px;
    display: flex;
    position: relative;
    .fontpart{
        width: 50%;
        text-align: center;
        position: relative;
        .font{
            width: 70%;
            position: absolute;
            top:50%;left: 50%;
            transform: translate(-50%,-50%);
            color: #000;
            .toptitle{
                font-size: 24px;
            }
            .bottitle{
                font-size: 17px;
                white-space: pre-wrap;
                line-height: 33px;
            }
        }
    }
    .imgpart{
        min-height: 400px;
        width: 50%;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        .closeicon{
            width: 10px !important;
            height: 10px !important;
            position: absolute;
            transition: all 0.6s;
        }
        .gamepic:hover + .closeicon {
            transform: scale(1.8);
        }
    }
    .bigimg{
        position: absolute;
        width: 100%;
        height: 100vh;
        min-width: 400px;
        top:0px;
        left: 0px;
        z-index: 11;
    }
}
.reverse{
    flex-direction: row-reverse;
}
