.Footer{
    width:100%;
    height:270px;
    background:#000000;
    color:#fff;
    text-align:center;
    min-width:1200px;
    padding:0px 12%;
    .friend{
        font-size:16px;
        border-bottom:1px solid #fff;
        padding:10px 0px;
        text-align:left;
        padding-left:6%;
    }
    a{
        color:#fff;
        padding:0px 10px;
    }
    a:hover{
        color:rgb(235, 6, 6);
    }
    .content{
        display:flex;
        justify-content: space-around;
        text-align: left;
        font-size: 16px;
        ul,li,a{margin: 0px;padding: 0px;}
        p{
            
            margin-bottom: 20px;
        }
        li{
            list-style: none;
            margin-bottom: 10px;
        }
        img{
            width: 120px;
        }
        .right{
            width: 20%;
            min-width: 240px;
            text-align: center;
            .number{
                font-size: 30px;
            }
        }
    }
}